node_modules/
.vs/
.firebase/
android/.gradle/
android/build/
android/app/build/
android/capacitor-cordova-android-plugins/build/
ios/App/Pods/
.DS_Store
*.keystore
*.jks
android/.idea/

android/keystore.properties
